

.container{
    height: 90vh;
    display: flex;
    align-items: center;
    padding-right: 110px;
    padding-left: 70px; 
}
.image{
    width: 50%;
}
h2{
    color: #333;
    font-family: Space Mono;
    font-size: 64px;
    font-style: normal;
}
p{
    color:  #4F4F4F;
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.btn{
    background: #333;
    padding: 24px 40px;
    color: white;
    border-radius: 7px;
    font-size: 18px;
}