
.found{
    margin-left: 70px;
    margin-top: 40px;
    color: #333333;
    font-size: 16px;
     
}
.container{
    height: 90vh;
    display: flex;
    align-items: center;
    padding-right: 110px;
    padding-left: 70px; 
}
.image{
    width: 50%;
}
h2{
    color: #333;
    font-family: Space Mono;
    font-size: 64px;
    font-style: normal;
}
p{
    color:  #4F4F4F;
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}
.btn{
    background: #333;
    padding: 24px 40px;
    color: white;
    border-radius: 7px;
    font-size: 18px;
}
.footer{
    color: #BDBDBD;
    font-family: Montserrat;
    margin: 0 500px;
}
/* media query */

@media screen and (max-width: 576px) {
    .found{
        margin-left: 24px;
        margin-top: 20px;
    }
    .container{
        flex-direction: column;
        padding: 7px;
    }
    .container
    .image{
        width: 100%;
    }   
}
/* medium devices */
@media screen and (min-width: 576px) and (max-width:992px) {
    .container{
        flex-wrap: wrap;
        margin: 10px;
    }
}